<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:security="http://www.springframework.org/schema/security"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:secutity="http://www.springframework.org/schema/security"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">


	<!-- 配置不拦截的资源 -->
	<security:http pattern="/login.jsp" security="none"/>
	<security:http pattern="/failer.jsp" security="none"/>
	<security:http pattern="/css/**" security="none"/>
	<security:http pattern="/img/**" security="none"/>
	<security:http pattern="/plugins/**" security="none"/>

	<!--配置权限注解控制 使用jsr250管理 要使用preAuthority表达式控制权限-->
	<security:global-method-security pre-post-annotations="enabled" jsr250-annotations="enabled"/>

	<!--配置权限注解控制 使用spring中自带的权限管理注解secured-->
	<!--<secutity:global-method-security secured-annotations="enabled"/>-->

	<!--
        配置具体拦截的规则
        auto-config="true"	不用自己编写登录的页面，框架提供默认登录页面
        use-expressions="false"	是否使用SPEL表达式（没学习过）
    -->
		 <!--&lt;!&ndash;设置拦截规则 pattern ="/**"  拦截所有 放行access= ""&ndash;&gt;-->

	<!--<security:http auto-config="true" use-expressions="false">-->
	<security:http auto-config="true" use-expressions="true">
		<!-- 配置具体的拦截的规则 pattern="请求路径的规则" access="访问系统的人，必须有ROLE_USER的角色" -->
        <security:intercept-url pattern="/**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')"/>
        <!--user-expressions='false'时 <security:intercept-url pattern="/**" access="ROLE_USER,ROLE_ADMIN"/>-->
		<!-- 定义跳转的具体的页面 -->
		<security:form-login
			    login-page="/login.jsp"
		        login-processing-url="/login.do"
				default-target-url="/index.jsp"
				authentication-failure-url="/failer.jsp"
				authentication-success-forward-url="/pages/main.jsp"/>

		<!--<security:form-login
				login-page="/login.jsp" 我们自己登录页面
				login-processing-url="/login.do"  设置访问路径 访问login.do 并且接受username和password 跳转到userService中
				default-target-url="/index.jsp"  什么的页面都没有后登录后跳转的默认页面
				authentication-failure-url="/failer.jsp"  验证失败后跳转的页面
				authentication-success-forward-url="/pages/main.jsp">  验证成功后跳转的页面
		-->

		<!-- 关闭跨域请求 -->
		<security:csrf disabled="true"/>

		<!-- 退出 注销session-->
		<security:logout invalidate-session="true" logout-url="/logout.do" logout-success-url="/login.jsp" />

	</security:http>
    <!--不用spel表达式控制权限时开启此bean-->
	<!--<bean id="defaultWebSecurityExpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"/>-->
	<!-- 切换成数据库中的用户名和密码 -->
	<security:authentication-manager>
		<security:authentication-provider user-service-ref="userService">
			<!-- 配置加密的方式 -->
			<security:password-encoder ref="passwordEncoder"/>
		</security:authentication-provider>
	</security:authentication-manager>

	<!-- 配置加密类 -->
	<bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

	<!-- 提供了入门的方式，在内存中存入用户名和密码
    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="admin" password="{noop}admin" authorities="ROLE_USER"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>
    -->

</beans>












